---
stages:
  - test
  - coverage

default:
  before_script:
    - ruby -v
    - which ruby
    - gem install bundler --no-document
    - bundle install --jobs $(nproc)  "${FLAGS[@]}"

.tests:
  script:
    - bundle exec rake
    - cd test/integration && bundle install
    - bundle exec ruby api.rb
  stage: test

test:3.1:
  extends: .tests
  image: 'ruby:3.1'

test:3.2:
  extends: .tests
  image: 'ruby:3.2'

test:3.3:
  extends: .tests
  image: 'ruby:3.3'

test:3.4:
  extends: .tests
  image: 'ruby:3.4'

test:jruby:
  extends: .tests
  image: 'jruby:9.4-jre'

coverage:
  image: 'ruby:3.2'
  script:
    - bundle exec rake test
  artifacts:
    paths:
      - coverage/
  stage: coverage
